__pycache__
.env
.DS_Store
backend/certs/geraldyong-*.pem
frontend/certs/geraldyong-*.pem
backend/__pycache__
backend/app/__pycache__
backend/app/models/__pycache__
backend/app/routes/__pycache__
backend/app/utils/__pycache__
backend/.env
frontend/.env
frontend/.next
frontend/node_modules
